* {
  box-sizing: border-box;
}

:root {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-accent: #fd5819;
  --color-accent-alt: #0ebcea;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  overflow: hidden;
  position: relative;
}

h1,
h2,
h3,
h4 {
  color: var(--color-accent);
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(96vw);
  height: calc(48vw);
  max-width: calc(192vh - 100px);
  max-height: calc(96vh - 50px);
  transform: translate(-50%, -50%);
  margin-top: 25px;
  box-sizing: content-box;
}

@media (max-width: 800px) and (orientation: portrait) {
  canvas {
    margin-top: -70px;
  }
}

.overlay__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.overlay__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  opacity: 0.5;
  z-index: 9;
}

.modal {
  z-index: 10;
  background-color: var(--color-primary);
}

.modal__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.15);
}

.modal__title h2 {
  margin: 0;
}

.modal__close {
  border: 0;
  background: transparent;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.modal__body {
  color: var(--color-secondary);
  padding: 0 10px;
  font-size: 14px;
}

.modal__actions {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.modal__actions button {
  border: solid #666 5px;
  background-color: #fff;
  font-family: var(--font-arcade);
  padding: 5px 20px;
  min-width: 150px;
  cursor: pointer;
}

.modal__actions button:hover {
  border-color: #000;
}

.alert-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
}

.alert-dialog {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  padding: 0.5em;
  min-width: 300px;
}

.alert-dialog h2 {
  margin: 0;
  color: var(--color-accent);
}

.alert-dialog .alert-buttons {
  display: flex;
  justify-content: flex-end;
}

.alert-dialog .alert-buttons button {
  border: solid #666 5px;
  background-color: #fff;
  font-family: var(--font-arcade);
  padding: 5px 20px;
  min-width: 150px;
  cursor: pointer;
}

.alert-dialog .alert-buttons button:hover {
  border-color: #000;
}
