@font-face {
  font-family: 'Arcade Interlaced';
  font-style: normal;
  font-weight: normal;
  src: local('Arcade Interlaced'), url('/ARCADE_I.woff') format('woff');
}

@font-face {
  font-family: 'Arcade Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Arcade Normal'), url('/ARCADE_N.woff') format('woff');
}

@font-face {
  font-family: 'Arcade Rounded';
  font-style: normal;
  font-weight: normal;
  src: local('Arcade Rounded'), url('/ARCADE_R.woff') format('woff');
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-accent: #fd5819;
  --color-accent-alt: #0ebcea;
}

html,
body,
#app {
  font-family: 'Arcade Normal';
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  overflow: hidden;
  position: relative;
}

h1,
h2,
h3,
h4 {
  color: var(--color-accent);
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(96vw);
  height: calc(48vw);
  max-width: calc(192vh - 100px);
  max-height: calc(96vh - 50px);
  transform: translate(-50%, -50%);
  margin-top: 25px;
  box-sizing: content-box;
}

@media (max-width: 800px) and (orientation: portrait) {
  canvas {
    margin-top: -70px;
  }
}

.overlay__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.overlay__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  opacity: 0.5;
  z-index: 9;
}

.modal {
  z-index: 10;
  background-color: var(--color-primary);
}

.modal__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.15);
}

.modal__title h2 {
  margin: 0;
}

.modal__close {
  border: 0;
  background: transparent;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.modal__body {
  color: var(--color-secondary);
  padding: 0 10px;
  font-size: 14px;
}

.modal__actions {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.modal__actions button {
  border: solid #666 5px;
  background-color: #fff;
  font-family: 'Arcade Normal';
  padding: 5px 20px;
  min-width: 150px;
  cursor: pointer;
}

.modal__actions button:hover {
  border-color: #000;
}
